<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.dao.CouponMapper">

    <!-- 查看某个用户是否已经领取过优惠券 -->
    <select id="getIsAllocationCoupon" parameterType="java.util.Map" resultType="java.lang.Integer">
        select COUNT(1) from base_user_coupon
        where username = #{username} and createtime BETWEEN #{startDate} and #{endDate}
    </select>

    
    <!-- 活动开始时间和活动结束时间  获取已经分配的优惠券数量 -->
    <select id="getAllocationCountByOwnerAndDate" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT count(1) num,'845' coupon_owner from base_user_coupon
        WHERE createtime BETWEEN #{startDate} AND #{endDate} and coupon_owner = '845'
        UNION ALL
        SELECT count(1) num,'847' coupon_owner from base_user_coupon
        WHERE createtime BETWEEN #{startDate} AND #{endDate} and coupon_owner = '847'
        UNION ALL
        SELECT count(1) num,'865' coupon_owner from base_user_coupon
        WHERE createtime BETWEEN #{startDate} AND #{endDate} and coupon_owner = '865'
        UNION ALL
        SELECT count(1) num,'858' coupon_owner from base_user_coupon
        WHERE createtime BETWEEN #{startDate} AND #{endDate} and coupon_owner = '858'
    </select>

    <!-- java代码随机获取一个owner,根据owner获取一张没分配的优惠券 -->
    <select id="findRandomAllocationOneCoupon" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT  id,code,name,owner,type,amount,disttime,deadline,distdeadline FROM base_coupon
        WHERE isdistribution = '0' AND owner = #{owner} limit 1
    </select>

    <!-- 分配优惠券后,修改优惠券信息  -->
    <update id="updateCoupon" parameterType="java.util.Map">
        UPDATE base_coupon set disttime = now(),isdistribution=1 WHERE id = #{id}
    </update>

    <!-- 添加分配的优惠卷 -->
    <insert id="insertAllocationCoupon" parameterType="java.util.Map">
        INSERT INTO base_user_coupon(username,coupon_code,coupon_name,coupon_amount,coupon_owner,coupon_type,
        status,deadline,channel_id,createtime,allowparkid)
        VALUES(#{username},#{coupon_code},#{coupon_name},#{coupon_amount},#{coupon_owner},'01','00',#{deadline},'0',now(),default)
    </insert>
    

</mapper>