<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.dao.ParkingMapper">


	<!-- #################################################  start小程序和网页端地图（停车场）接口  ################################################# -->
	<!-- 验证数据是否有效 -->
	<select id="checkDataIsValid" resultType="int" parameterType="java.util.Map">
		SELECT  COUNT(1) FROM  base_user_car WHERE platenum = #{platenum}
	</select>

	<!-- 批量添加未合作停车场信息  -->
	<insert id="addBatchNonCooperationPark" parameterType="java.util.List">
		INSERT INTO base_parklist_non_cooperation(name,address,address_loc,createtime,edittime,status) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name},#{item.address},GeomFromText(#{item.address_loc}),NOW(),NOW(),'00')
		</foreach>
	</insert>

	<!-- 利用经度(longitude)(121)纬度(latitude)(29)查询附近停车场  00：未合作停车场  01：合作停车场 -->
	<select id="findNearbyPark" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
		SELECT  name,AsText(address_loc) as address_loc,parkid,'00' mark,x(address_loc) latitude,y(address_loc) longitude,'无' carnum,'无' charge_rule
		FROM    base_parklist_non_cooperation
		WHERE   status = '00' and MBRContains(LineString(
                            Point
                                    (
                                    #{latitude} + 0.5 / ( 111.1 / COS(RADIANS(#{longitude}))),
                                    #{longitude} + 0.5 / 111.1
                                    ),
                            Point
                                    (
                                    #{latitude} - 0.5 / ( 111.1 / COS(RADIANS(#{longitude}))),
                                    #{longitude} - 0.5 / 111.1
                                    )
                            ),address_loc) limit 15
        UNION ALL
		SELECT  name,AsText(address_loc) as address_loc,parkid,'11' mark,x(address_loc) latitude,y(address_loc) longitude,carnum,charge_rule
		FROM    base_parklist
		WHERE   xcx_bool = '00'
    ]]>
	</select>

	<!-- 获取所有的合作停车场列表 -->
	<select id="findPrakList" resultType="java.util.Map">
		SELECT name,AsText(address_loc) as address_loc,parkid,x(address_loc) latitude,y(address_loc) longitude,carnum,'11' mark,charge_rule FROM base_parklist
		where address_loc is not null
	</select>

	<!-- #################################################  end小程序和网页端地图（停车场）接口  ################################################# -->




	<!-- #################################################  start小程序接口  ################################################# -->
	<!-- 获取车辆列表 -->
	<select id="getCarList" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT bua.username,bua.platenum,bua.is_open_unionpay,bua.is_default,bucbu.card_bank,bucbu.card_num_last,cmb.is_open_no_pwd,cmb.is_open cmb_is_open FROM (
		SELECT username,platenum,is_open_unionpay,is_default,status from base_user_car
		WHERE username = (SELECT username FROM wechat_user WHERE status = 1 and token = #{token}) and status = '00' ) bua
		LEFT JOIN (
		SELECT card_bank,card_num_last,plate_num FROM base_user_car_bind_unionpay
		where is_bind = 1 and user_name = (SELECT username FROM wechat_user WHERE status = 1 and token = #{token}) ) bucbu
		on bucbu.plate_num = bua.platenum
		LEFT JOIN (
		SELECT is_open_no_pwd,is_open,plate_num FROM base_cmb_user_car_unionpay
		WHERE is_bind = 1 and  user_name = (SELECT username FROM wechat_user WHERE status = 1 and token = #{token})) cmb
		on cmb.plate_num = bua.platenum
	</select>

	<!-- 我的行程 -->
	<select id="getRouteList" parameterType="java.util.Map" resultType="java.util.Map">
		<!-- SELECT pc.car_platenum,pc.car_status,pc.pay_status,pc.car_parkingid,bp.name FROM (
		SELECT car_platenum,car_status,pay_status,car_parkingid from park_carrecord
		WHERE car_platenum in(
		SELECT platenum from base_user_car
		<where>
			<if test="platenum != null and platenum != ''">and platenum = #{platenum}</if>
			and username = (SELECT username FROM wechat_user WHERE status = 1 and token = #{token}) and status = '00'
		</where>
		 )
		) pc
		INNER JOIN base_parklist bp on bp.parkid = pc.car_parkingid
		ORDER BY pc.create_time DESC
		LIMIT 50 -->
		SELECT bpl.platenum,DATE_FORMAT(bpl.starttime,'%Y-%m-%d-%H:%i:%s') starttime,bpl.couponamount,bpl.originalAmount,bp.name,timestampdiff(MINUTE,bpl.starttime,bpl.endtime) duration,
		case bpl.paytype
		WHEN 'AutoPay' THEN '自动支付'
		WHEN 'UnionPay' THEN '银联支付'
		WHEN 'AliPay' THEN '支付宝支付'
		WHEN 'WechatPay' THEN '微信支付'
		WHEN 'CouponPay' THEN '优惠劵支付'
		WHEN 'UnionAutoPay' THEN '银联代扣支付'
		WHEN 'RePay' THEN '补缴'
		WHEN 'PrePay' THEN '预缴费'
		WHEN 'AliRePay' THEN '支付宝补缴'
		WHEN 'EquityPlatPay' THEN '权益平台支付'
		WHEN 'YiXiuWxPay' THEN '一咻微信自助缴费'
		WHEN 'czPay' THEN '浙商支付'
		WHEN 'sshPay' THEN '上海银联支付'
		WHEN 'CmbPay' THEN '招商主动支付'
		WHEN 'CmbAutoPay' THEN '招商代扣'
		WHEN 'chinaumsPaySMWxpay-out' THEN '银联商务支付扫码微信'
		WHEN 'chinaumsPaySMAlipay-out' THEN '银联商务支付支付宝支付'
		WHEN 'chinaumsPaySMWxpay-in' THEN '银联商务支付扫码微信'
		WHEN 'chinaumsPaySMAlipay-in' THEN '银联商务支付支付宝支付'
		WHEN 'UnionpayWallet' THEN '银联钱包支付'
		WHEN 'WxRepay' THEN '微信公众号补缴'
		ELSE '未知'
		END paytype
		FROM (
		SELECT platenum,starttime,endTime,parkid,couponamount,originalAmount,paytype  FROM base_parkrecord_list
		WHERE plateNum =(
		SELECT platenum from base_user_car WHERE username = (
		SELECT username FROM wechat_user WHERE status = 1 and token = #{token}) and status = '00' and platenum = #{platenum}
		) ORDER BY createtime DESC LIMIT 20 ) bpl
		LEFT JOIN base_parklist bp on bp.parkid = bpl.parkid

	</select>

	<!-- 添加绑定车辆 -->
	<insert id="insertBaseUserCar" parameterType="java.util.Map">
		INSERT INTO base_user_car(username,platenum,status,is_open_unionpay,isactive,is_default,addtime,edittime)
		VALUES (#{username},#{platenum},'00','0',#{isactive},#{is_default},now(),now())
	</insert>

	<!-- 根据token查询用户手机号 -->
	<select id="getWechatUserByToken" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT username from wechat_user
		WHERE status = 1 and  token = #{token}
	</select>

	<!-- 查询 某个手机号下是否有车牌存在 -->
	<select id="getPlateNumCountByUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(1) FROM base_user_car
		WHERE username = #{username} and status = '00'
	</select>

	<!-- 获取某个手机号下最晚绑定的车牌号顺序 -->
	<select id="getMaxIsactiveByUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT MAX(isactive) FROM base_user_car
		WHERE username = #{username} and status = '00'
	</select>

	<!-- 获取某个手机号下最早绑定的车牌号顺序 -->
	<select id="getMinIsactiveByUserName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT MIN(isactive) FROM base_user_car
		WHERE username = #{username} and status = '00'
	</select>

	<!-- 获取 某个车牌号 是否绑卡 -->
	<select id="getPlateNumIsBindCard" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM base_user_car_bind_unionpay WHERE plate_num = #{platenum} and is_bind = 1
	</select>

	<!-- 判断某个车牌是否被绑定 -->
	<select id="getIsBindCar" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(1) FROM base_user_car WHERE platenum = #{platenum} and status = '00'
	</select>

	<!-- 修改绑定车辆信息 -->
	<update id="updateBaseUserCar" parameterType="java.util.Map">
		UPDATE base_user_car
		<set>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="isactive != null and isactive != ''">isactive = #{isactive},</if>
			<if test="is_default != null">is_default = #{is_default},</if>
			<if test="is_open_unionpay != null">is_open_unionpay = #{is_open_unionpay},</if>
			<if test="unionpay_bind_id != null and is_default != ''">unionpay_bind_id = #{unionpay_bind_id},</if>
			<if test="card_type != null and card_type != ''">card_type = #{card_type},</if>
			<if test="limit_amount != null and limit_amount != ''">limit_amount = #{limit_amount},</if>
			edittime = now()
		</set>
		<where>
			and username = #{username}
			<if test="platenum != null and platenum != ''">and platenum = #{platenum}</if>
		</where>
	</update>

	<!-- 根据token 获取手机号 咻币  -->
	<select id="getUserNameAndYiXiMoneyByToken" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT username,xiu_money FROM  wechat_user WHERE token = #{token}
	</select>

	<!-- 根据 token  获取手机号下绑定的车牌号列表 -->
	<select id="getPlateNumList" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT platenum from base_user_car
		WHERE username = (SELECT username FROM wechat_user WHERE status = 1 and token = #{token}) and status = '00'
	</select>


	<!-- #################################################  end小程序接口  ################################################# -->
</mapper>